body {
    width: 485px;
    margin: 0 auto;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-content: center;
}

main {
    background-color: white;
}

h1 {
    font-size: 3em;
    background-color: white;
    color: #007d7b;
    text-align: center;
    
}

h2 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 1.25em;
}

figcaption, label, input, small {
    font-size: 1em;
}

/* Nav Section */

nav {
    display: flex;
    justify-content: center;
}

nav li {
    padding: 0 12px;
    display: inline-block;
}

nav a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

nav a:hover {
    color: #007d7b;
}

[href="#top"] {
    position: fixed;
    bottom: 0px;
    right: 0px;
    border: solid;
    border-color: white;
}
/* Nav Section */

/* photo gallery fig caption section  */

#gallery {
    display: grid;
    grid-template-columns: 1fr;
}

#gallery h2, #gallery p  {
    grid-column: 1/-1;
}

figure {
    display: flex;
    position: relative;
    justify-content: center;
}

figcaption {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.top {
    background-color: red;
    position: absolute;
    top: 20px;
}

.bottom {

    background-color: grey;
    position: absolute;
    bottom: 10px;
}

.black {
    color: black;
    
}

.white {
    color:white;  
}

/* photo gallery fig caption section  */

/* Contact section */
#contact {
    padding: 10px;
    background-color: black;
    color: white;
}

#contact p {
    text-align: center;
}

form {
    display: block;
    width: 450px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	color: white;
}

input, label {
	display: inline-block;
	width: 400px;
    margin: auto;
}

label {
    padding-top: 10px;
}

input {
    height: 30px;
    width: 100%;
}

::placeholder {
    color: #007d7b;
    text-transform: uppercase;
    font-weight: bold;
}

.submit {
    margin: 25px auto;
    background-color: #007d7b;
    font-size: 1.25em;
    font-weight: 100;
    color: white;
    text-align: center;
    border-radius: 50px;
    padding: 5px 60px;
    display: flex;
    justify-content: center;
    width: 80%;
}
/* contact section */

/* footer */

footer {
    color: white;
    font-size: 1.25em;
    text-align: center;
}

/* footer */

/* media queries */

@media screen and (min-width: 880px) {
    body {
        width: 880px;
    }
    #gallery {
        grid-template-columns: 1fr 1fr;
        width: auto;
    }
    #gallery h2, #gallery p  {
        grid-column: 1/-1;
    }
}

@media screen and (min-width: 1300px) {
    body {
        width: 1300px;
    }
    nav {
        display: flex;
        justify-content: right;
    }
    #gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #gallery h2, #gallery p {
        grid-column: 1/-1;
    }
    
}

/* media queries */